<div>
	<h>National House Buyers</h>

	<p>
		<ol>
			<li>
				NHB investments limited operates under the trading name of National Housebuyers here who shall from here on be referred to as NHBI.
				NHBI and it's directors utilise a network of limited companies to conduct their buisness with it being unclear exactly which company undertakes each action of their buisness and it it is also immediatly unclear when the directors that are common between all these limited companies are acting for each limited company.
			</li>
			<li>
				NHBI claim to have a  property research prior 
			</li>
		</ol>
	</p>
</div>