<div>
	<h>National House Buyers</h>

	<p>
		<ol>
			<li>
				NHB investments limited operates under the trading name of National House here who shall from here on be referred to as NHBI
			</li>
			<li>
				NHBI claim to have a  property research prior 
			</li>
		</ol>
	</p>
</div>